<ul class="nav nav-tabs">
  <li class="nav-item">
	<a class="nav-link active" href="<%= calendar_path%>">Diary</a>
  </li>
  <li class="nav-item">
	<a class="nav-link " href="<%= mindmap_path%>">MindMap</a>
  </li>
</ul> 
<br>

<ul class="nav nav-tabs">
  <li  class="nav-item">
    <%= link_to '<i class="fas fa-arrow-left"></i>&nbsp;'.html_safe, calendar_path( month: @month-1, year: @year ), title: "One month back"  %>
  </li>
  
  <li class="nav-item">
      <%= link_to calendar_path( month: @month, year: @year ), class: "nav-link active"  do %>
        <% if @current_user and @current_user.goal.size > 0 %>
	        <%= @current_user.goal %> in 
        <% end %>	      
	    <%= monthname( @month ) %> <%= @year %>
	  <% end %>	
  </li>
  <li  class="nav-item">
    <%= link_to '&nbsp;<i class="fas fa-arrow-right"></i>&nbsp;'.html_safe, calendar_path( month: @month-1, year: @year ), title: "One month back"  %>
  </li>
</ul>

<ul class="nav justify-content-end nav-pills " >
<% if @current_user and @current_user.diary_service == 'on' %>	  
  <li class="nav-item" >      
    <%= link_to turn_off_diary_emails_path, class: 'nav-link ' , title: "Turn off reminder emails" do %>
      &nbsp;<i class="fas fa-ban"></i>&nbsp;
    <% end %>
  </li> 
  <li class="nav-item" >      
    <%= link_to send_diary_email_path, title: "Send daily reminder email", class: 'nav-link ' , onclick: "$('#spinner').fadeIn('slow');" do %>
      &nbsp;<i class="far fa-envelope"></i>&nbsp;
    <% end %>
  </li>    
  <li class="nav-item">  
    <%= link_to receive_diary_emails_path, title: "Check emails", class: 'nav-link ' , onclick: "$('#spinner').fadeIn('slow');" do  %>
      &nbsp;<i class="fas fa-inbox"></i>&nbsp;
    <% end %>
  </li>    
  <li class="nav-item" >     
    <%= link_to calendar_path, class: 'nav-link ' , title: "Jump to last entry" do %>
      &nbsp;<i class="far fa-calendar-check"></i>&nbsp;
    <% end %>	 
  </li>  
<% elsif @current_user %>
  <li class="nav-item" >  
    <%= link_to send_diary_email_path, title: "Send daily reminder email", class: 'nav-link ' , onclick: "$('#spinner').fadeIn('slow');" do %>
       &nbsp;<i class="far fa-envelope"></i>&nbsp;
    <% end %>
  </li>
<% end %>
</ul>
