
<div id="term_detail_dialogue" class="jumbotron" >
	<button class="btn btn-primary btn-lg">
	  <%= @weekday %> <%= @day %> <%= monthname( @month ) %>
	</button>
	<button type="button" class="close">
	  <%= link_to 'X', calendar_path %>
	</button>
	<p></p>
    <%= @entry  %>
</div>