
<%= render "header" %>
 
<% if @current_user %>
<div id="calendar">
  <div class="container" >   
      
    <% @calendar.each do |i,week| %>
      <div id="show_diary_entry<%=i%>">week <%= i%></div>  
      <div class="row"> 
        <div class="col-md-3" style="padding:0px;">     
          <%= render partial: "two_days", 
            locals: { day1: "Monday", entry1: week[1], day2: "Tuesday", entry2: week[2], 
                      week: i, month: @month, year: @year } %>
        </div>
        <div class="col-md-3" style="padding:0px;">
          <%= render partial: "two_days", 
            locals: { day1: "Wednesday", entry1: week[3], day2: "Thursday", entry2: week[4], 
                       week: i, month: @month, year: @year } %>
        </div>      
        <div class="col-md-3" style="padding:0px;">
          <%= render partial: "two_days", 
            locals: { day1: "Friday", entry1: week[5], day2: "Saturday", entry2: week[6], 
                       week: i, month: @month, year: @year } %>
        </div> 
        <div class="col-md-3" style="padding:0px;">
          <%= render partial: "two_days", 
            locals: { day1: "Sunday", entry1: week[7], day2: nil, entry2: nil, 
                       week: i, month: @month, year: @year} %>        
        </div>  
      </div>               
	<% end %>	
  </div>    
</div>
	<% end %>	
