<h1>Listing diary_entries</h1>

<table>
  <thead>
    <tr>
      <th>Entry</th>
      <th>Day</th>
      <th>Month</th>
      <th>Year</th>
      <th>Archived</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diary_entries.each do |diary_entry| %>
      <tr>
        <td><%= diary_entry.content %></td>
        <td><%= diary_entry.day %></td>
        <td><%= diary_entry.month %></td>
        <td><%= diary_entry.year %></td>
        <td><%= diary_entry.archived %></td>
        <td><%= diary_entry.user_id %></td>
        <td><%= link_to 'Show', diary_entry %></td>
        <td><%= link_to 'Edit', edit_diary_entry_path(diary_entry) %></td>
        <td><%= link_to 'Destroy', diary_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diary entry', new_diary_entry_path %>
