<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @okaapi.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @okaapi.content %>
</p>

<p>
  <strong>Time:</strong>
  <%= @okaapi.time %>
</p>

<p>
  <strong>From:</strong>
  <%= @okaapi.from %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @okaapi.reminder %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @okaapi.archived %>
</p>

<p>
  <strong>User:</strong>
  <%= @okaapi.user_id %>
</p>

<%= link_to 'Edit', edit_okaapi_path(@okaapi) %> |
<%= link_to 'Back', okaapis_path %>
