<ul class="nav nav-tabs">
  <li class="nav-item">
	<a class="nav-link" href="<%= calendar_path%>">Diary</a>
  </li>
  <li class="nav-item">
	<a class="nav-link active" href="<%= mindmap_path%>">MindMap</a>
  </li>
</ul> 
<br>

<ul class="nav nav-tabs ">
  <li class="nav-item">
    <%= link_to 'termcloud', termcloud_path, title: "Term Cloud", 
	                       class: 'nav-link ' + (( session[:okaapi_mode] == 'termcloud' ) ? 'active' : '') %>
  </li>
  <li class="nav-item">
    <%= link_to 'mindmap', mindmap_path, title: "Mind Map", 
	                       class: 'nav-link ' + (( session[:okaapi_mode] == 'mindmap' ) ? 'active' : '') %>
  </li>
  <li class="nav-item">
    <%= link_to 'graph', graph_path, title: "Graph", 
	                       class: 'nav-link ' + (( session[:okaapi_mode] == 'graph' ) ? 'active' : '') %>
  </li>
  <li class="nav-item">
    <%= link_to 'people', people_path, title: "People", 
	                       class: 'nav-link ' + (( session[:okaapi_mode] == 'people' ) ? 'active' : '') %>
  </li>  
</ul> 


  
<ul class="nav nav-pills justify-content-end" >

  <% if @current_user  %>	    
    <li >        
	  <%= link_to send_okaapi_emails_path, 
	     class: 'nav-link ' , title: "Send daily reminder email", onclick: "$('#spinner').fadeIn('slow');" do %>
	    &nbsp;<i class="far fa-envelope"></i>&nbsp;
	  <% end %>
    </li>
    <li >
	  <%= link_to receive_okaapi_emails_path,
	      class: 'nav-link ' , title: "Check emails", onclick: "$('#spinner').fadeIn('slow');" do %>
	    &nbsp;<i class="fas fa-inbox"></i>&nbsp;
	  <% end %>
	</li>
  <% end %>  
</ul>


