


<button class="btn btn-primary btn-lg">
  <%= @word.term %>
</button>
<button type="button" class="close">
  X
</button>

&nbsp; 
<%= link_to toggle_person_path( id: @word.id ), title: "Toggle person" do %>
  <% if @word.person == 'false' %>
    <i class="glyphicon glyphicon-user"></i>
  <% else %>
    <i class="glyphicon glyphicon-bookmark"></i>
  <% end %> 
<% end %>

<% if @word.person == 'false' %>
  &nbsp; 
  <%= link_to priority_path( id: @word.id, increment: -1 ) do %>
    <i class="glyphicon glyphicon-arrow-down"></i>
  <% end %> 
  <span class="badge badge-important"><%= @word.priority %> </span> 
  <%= link_to priority_path( id: @word.id, increment: +1 ) do %>
    <i class="glyphicon glyphicon-arrow-up"></i>
  <% end %> 
<% end %>   
&nbsp;  

<%= link_to archive_word_path( id: @word.id ), title: "Archive" do %> 
  <i class="glyphicon glyphicon-download-alt"></i>
<% end %>
&nbsp; 
<%= link_to undo_archive_word_path( ) , title: "Undo last archive" do %>
  <i class="glyphicon glyphicon-open"></i>
<% end %>


<% @okaapis.each do |okaapi| %>

    <p></p>
    <button class="btn btn-default">
      <%= link_to( okaapi.subject, show_okaapi_content_path( id: okaapi.id ), :target => "_blank" ) %>
    </button>
    &nbsp;
    <%= link_to archive_okaapi_path( id: okaapi.id ) , title: "Archive" do %> 
      <i class="glyphicon glyphicon-download-alt"></i>
    <% end %>
    &nbsp;    
    <% if okaapi == @okaapis[0] %>
      <%= link_to undo_archive_okaapi_path( ) , title: "Undo last archive" do %>
        <i class="glyphicon glyphicon-open"></i>
      <% end %> 
    <% end %> 



<% end %>

