
<div id="termcloud" >

  <%= render "header" %>

  <% if @termcloud %>
  
    <% @termcloud.each do |term|  %>
      <span id="<%= 'term_'+term[1][:word_id].to_s %>" 
            class="<%='term_size_'+term_size(term[1][:count]) %> 
                   <%='term_color_'+term_color(term[1][:priority]) %>">
        <%= link_to truncate( term[0], length:10 ), 
                    term_detail_path( word_id: term[1][:word_id] ), remote: js? %>
      </span>
    <% end %>
    <div id="term_detail_dialogue"></div>
    
  <% else %>
    <div class="whitetext">
      Here is where the termcloud goes if you're logged in!
    </div>
  <% end %>
  
</div>

